<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shushan.thomework101">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".HomeworkApplication"
        android:allowBackup="false"
        android:icon="@mipmap/app_logo_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/app_logo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name=".mvp.ui.activity.mine.IntroductionActivity"></activity>
        <activity
            android:name=".mvp.ui.activity.mine.RevenueIncomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.mine.ExpectedTotalIncomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.bank.MineBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.bank.BindCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.bank.AddBankCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.personalInfo.EditTextInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.personalInfo.SetCounsellingTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.main.SetCounselingTimeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.mine.CustomerServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.mine.StudentReplacementDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.mine.MineFeedbackActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.mine.ExpectedCommissionIncomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.bank.WithdrawActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.bank.WalletActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.mine.LeaveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.mine.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.personalInfo.EditPersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.student.SubmitFeedbackContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.student.StudentDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.main.SystemMsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.personalInfo.UploadVideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.personalInfo.UploadCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.guide.GradeSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.guide.SubjectSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.guide.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".mvp.ui.activity.main.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 融云 -->
        <!-- 此部分代码需要移植到您的 app 下的 manifest，并且 authorities 指定您的包名。例如：com.android.FileProvider -->
        <!-- 否则使用拍照功能时，会崩溃 -->
        <provider
            android:name=".help.MyProvider"
            android:authorities="com.shushan.thomework101.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider> <!-- 会话界面 -->
        <activity
            android:name=".mvp.ui.activity.rongCloud.ConversationActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.shushan.thomework101"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".help.NotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver> <!-- 友盟   渠道包 -->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5bd2a5f3f1f556da43000361" />
    </application>

</manifest>