<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shushan.thomework101">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许程序设置内置sd卡的读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".HomeworkApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name=".mvp.ui.activity.student.rongCloud.ConversationActivity"></activity>
        <activity android:name=".mvp.ui.activity.mine.CustomerServiceActivity" />
        <activity android:name=".mvp.ui.activity.mine.StudentReplacementDetailActivity" />
        <activity android:name=".mvp.ui.activity.mine.MineFeedbackActivity" />
        <activity android:name=".mvp.ui.activity.mine.ExpectedIncomeActivity" />
        <activity android:name=".mvp.ui.activity.mine.WithdrawActivity" />
        <activity android:name=".mvp.ui.activity.mine.WalletActivity" />
        <activity android:name=".mvp.ui.activity.mine.LeaveActivity" />
        <activity android:name=".mvp.ui.activity.mine.SettingActivity" />
        <activity android:name=".mvp.ui.activity.mine.teacherCenter.EditPersonalInfoActivity" />
        <activity android:name=".mvp.ui.activity.student.SubmitFeedbackContentActivity" />
        <activity android:name=".mvp.ui.activity.student.StudentDetailActivity" />
        <activity android:name=".mvp.ui.activity.main.SystemMsgActivity" />
        <activity android:name=".mvp.ui.activity.mine.teacherCenter.CoachingTimeActivity" />
        <activity android:name=".mvp.ui.activity.mine.teacherCenter.UploadVideoActivity" />
        <activity android:name=".mvp.ui.activity.mine.teacherCenter.UploadCardActivity" />
        <activity android:name=".mvp.ui.activity.guide.register.GradeSelectActivity" />
        <activity android:name=".mvp.ui.activity.guide.register.SubjectSelectActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.guide.login.LoginActivity" />
        <activity android:name=".mvp.ui.activity.main.MainActivity"></activity>
    </application>

</manifest>